<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Validade</th>
            <th>Editar</th>
            <th>Excluir</th>
        </thead>
        <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.preco}"></td>
                <td th:text="${produto.quantidade}"></td>
                <td th:text="${produto.validade}"></td>
                <td><a th:href="@{/produto/editar/{id}(id=${produto.id})}">Editar</a></td>
                <td><a th:href="@{/produto/deletar/{id}(id=${produto.id})}">Excluir</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>